.sudoku-play-board {
    display: flex;
    flex-direction: column;
    gap: 6px; /* Abstand zwischen Block-Reihen */
}

.sudoku-play-block-row {
    display: flex;
    gap: 6px; /* Abstand zwischen Blöcken */
}

.sudoku-play-block {
    display: grid;
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(3, 72px);
    gap: 2px; /* Weißer Abstand zwischen Zellen */
    background-color: white;
    border: 2px solid #333;
}

.sudoku-play-cell {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    user-select: none;
}

.cell-fixed {
    font-weight: bold;
    border: 3px solid #007bff;
    background-color: #f1f1f1; /* Helles Grau */
    position: relative;
}

.cell-editable {
    cursor: pointer;
    /*border: 3px solid #388e3c;*/
    background-color: white;
}

.sudoku-play-image {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 4px;
    margin: auto;
}

/* Graustufen nur für initiale Zellen (cell-fixed) */
/*.cell-fixed .sudoku-play-image {*/
/*    filter: grayscale(100%); !* Nur für initiale Zellen Graustufen anwenden *!*/
/*}*/

/* Fehler-Animation */
.error-cell {
    border: 2px solid #e67e00;  /* Roter Rahmen für Fehler */
    animation: shake 0.3s ease-in-out; /* Optionale Animation */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}


